@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


nav {
  list-style: none;
  display: flex;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid white;
  justify-content: end;
  padding: 20px;
  padding-right: 100px;
}

nav a.active {
  color: red; /* Підсвічування активного посилання червоним */
  font-weight: bold; /* Можна додати жирний шрифт для активного елементу */
  border-bottom: 2px solid red; /* Додатковий стиль підсвічування */
}
